<div class="content">
    <div class="title">
        <h1>Atualizando Categoria</h1>
    </div>
</div>

<form>
    <mat-form-field class="forms">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="categoria.nome" type="text" name="nome" placeholder="Ex. Computação">
    </mat-form-field>
    <mat-form-field class="forms">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="categoria.descricao" type="text" name="descricao" placeholder="Ex. Livro de Computação"></textarea>
    </mat-form-field>
    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary">ALTERAR</button>
        <button (click)="cancelar()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>

</form>
