.content {
    width: 90%;
    margin: 1rem auto;
  }
  
  .title {
    text-align: center;
    color: rgb(173, 168, 168);
  }

  form {
    text-align: center;
    width: 70%;
    margin: auto;
  }

  .forms {
      width: 100%;
  }

  .buttons {
      width: 100%;
      text-align: start;
  }

  button {
      margin-right: 15px;
  }