.home {
    width: 90%;
    margin: 1rem auto;
    margin-left: 10rem;
    margin-right: -10rem;
}

@media(max-width: 450px) {
    .home {
        width: 70%;
    }
}

@media(max-width: 760px) {
    .home {
        width: 80%;
    }
}