.content {
    width: 90%;
    margin: 1rem auto;
  }
  
  .title {
    text-align: center;
    color: rgb(173, 168, 168);
  }
  
  button {
      margin-bottom: 5px;
  }
  
  .corpo {
    width: 100%;
  }
  
  .table {
    width: 100%;
  }
  
  .livros {
    color: rgb(218, 212, 212);
    margin-left: .6rem;
  }
  
  .edit {
      color: rgb(56, 191, 201);
      margin-right: 5px;
  }
  
  .delete {
      color: rgb(223, 164, 164);
  }
  
  .mat-header {
      width: 2rem;
  }
  